@import '../../assets/variables.scss';

#sidebar {
  width: 100%;
  max-width: $containerWidth;
  position: fixed;
  top: 0; left: 0; right: 0;
  margin: auto;
  height: 100%;
  pointer-events: none;

  .inner {
    width: $sidebarWidth;
    background: $color1;
    height: 100%;
    pointer-events: all;
  }

  ul {
    li {
      cursor: pointer;
      padding: .5rem;
      text-transform: capitalize;

      &.active {
        background: $color2;
      }
    }
  }
}