@import '../../assets/variables.scss';

#sidebar {
  width: 100%;
  max-width: $containerWidth;
  position: fixed;
  top: 0; left: 0; right: 0;
  margin: auto;
  height: 100%;
  pointer-events: none;

  .inner {
    width: $sidebarWidth;
    background: $color1;
    height: 100%;
    pointer-events: all;
    padding: .2rem 0;
  }

  ul {
    li {
      cursor: pointer;
      padding: .2rem .5rem;
      margin: .5rem 0;
    }
  }
}